body {
    margin: 0;
    padding: 0;
    background: #0d0d0d;
    color: #fff;
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 420px;
    text-align: center;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #00eaff;
    margin-bottom: 20px;
}

.upload-card {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 14px;
}

.preview-area {
    height: 310px;
    border: 1px dashed #555;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.preview-area img {
    width: 100%;
    display: none;
    border-radius: 12px;
}

.detect-btn {
    width: 100%;
    padding: 12px;
    background: #00eaff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    font-size: 16px;
    margin-top: 30px;
}

.loader {
    display: none;
    width: 45px;
    height: 45px;
    margin: 20px auto;
    border: 4px solid #222;
    border-top: 4px solid #00eaff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
.another-btn {

    padding: 10px 18px;
    background: #00eaff;
    color: #000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 80%;
    transition: 0.3s;
}

.another-btn:hover {
    background: #00bcd4;
    transform: scale(1.05);
}


@keyframes spin {
    to { transform: rotate(360deg); }
}

.result-box {
    display: none;
    background: rgba(0, 234, 255, 0.08);
    border: 1px solid #00eaff;
    border-radius: 12px;
    padding: 20px;
    margin-top: 10px;
}
.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: #00eaff;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 8px;
    transition: 0.3s;
    border: 1px solid rgba(0, 234, 255, 0.4);
    background: rgba(0, 234, 255, 0.05);
}

.back-btn:hover {
    color: #000;
    background: #00eaff;
    transform: scale(1.05);
}
